@char-set "utf-8";

body{
  width:100%;
}
#wrapper{
  width:100%;
  padding-bottom: 100%;
  background-color:#fdb377;
  padding-left: 35%;
  position: relative;
}
#mt{
  margin-top: 20%;
  position: fixed;
}